.main {
    min-height: 10vh;
    width: 100%
}

.contatos, .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}

.email, .discord, .zap, .info p, .info a {
    padding: 0 1rem;
}

.contatos h1 {
    font-size: 25px;
}

.contatos p {
    font-size: 18px;
}